.noti-popup{
     position: absolute;
    top: 60px;
    right:55px; 
    height: 200px;
    width: 300px;
    background-color: #eaf2fa;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
}
.noti-popup::before{
    content: " ";
    position: absolute;
    background-color: #eaf2fa;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: -3px;
    right: 45px;
}