.left-card{
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    padding: 15px 5px;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.check-box{
    display: flex;
    flex-direction: column;
}
.check-box> *{
    margin-top:px;
    padding: 5px;
}